.order-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 35vh;
    border-radius: 10px;
    border: 1px #ddd solid;
    padding: 5%;
    margin-bottom: 1em;
  }
  .order-card-container-row1{
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
  }
  .order-card-container-row1 .moreDetails{
    width: 75%;
    text-align: center;
  }
  .order-card-container-row1 .moreDetails *{
    color: rgb(41, 110, 110);
  }
  .order-card-container-row1 .moreDetails button{
    background: none;
    border: none;
    font-size: 1.5rem;
  }
  .order-card-container-row1 .moreDetails button:hover{
    text-decoration: underline;
  }
  .order-card-container-row2{
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .order-card-container-name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
  }

  @media only screen and (max-width: 500px) {
    .order-card-container-row1 {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .order-card-container-row1 *{
      margin: 0;
    }
    .order-card-container-name , .order-card-container-row1 .moreDetails{
      width: 100%;
    }
  }

  @media only screen and (max-width: 400px) {
    .order-card-container .custom-table th{
      display: none;
    }
    .order-card-container .custom-table td{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
