.orders-page {
    display: flex;
    height: 100%;
    padding: 0 10%;
  }
  
  .orders-content-container {
    flex: 1;
    padding-top: 5%;
  }

@media only screen and (max-width: 530px) {
  .orders-page {
    margin-top: 20%;
  }
}