
#account{
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#accounInfo{
    max-width: 800px;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.5);
    padding: 2%;
}
#accounInfo h2{
    font-weight: lighter;
    font-style: italic;
}

#accounInfo p{
    font-size: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    padding-bottom: 5%;
    margin: 0;
}
.btnact{
    color: rgb(41, 110, 110);
}
.btnact:hover{
    text-decoration: underline;
}
.ai2{
    border-bottom: 1px solid rgba(0,0,0,0.5);
    margin-bottom: 2%;   
}
.custom-table {
    border-collapse: collapse;
    width: 100%;
}

.custom-table th,
.custom-table td {
    padding: 20px;
    text-align: left;
}

.custom-table th {
    background-color: #f2f2f2; 
}

.custom-table tr:nth-child(even) {
    background-color: #ffffff; 
}

.custom-table tr:nth-child(odd) {
    background-color: #f9f9f9; 
}

.custom-table th,
.custom-table td {
    border: none; 
}
