#NormalSearchBar{
    padding: 2% 10%;
    display: flex;
    justify-content: center;   
}
#search{
    background-color: white;
    padding: 20px;
    border-radius: 50px;
    border: 1px solid rgba(0,0,0,0.5);
    width: 100%;
}
#search button, #search input{
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
}
#search input{
    width: 80%;
    height: 100% + 20px;
}
#search button{
    cursor: pointer;
    width: 20%;
    height: 100% + 20px;
}
#search button:hover{
    color: #8f8f32;
}